<h3>Add a Restaurant</h3>
<%= simple_form_for @restaurant do |f| %>
  <div class="mb-3">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: Restaurant::CATEGORIES_LIST %>
  </div>
  <%= f.button :submit, class: 'btn btn-success' %>
<% end %>
